* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Boska', serif;;
}



.shopping-cart {
    float: right;
    justify-self: right;
}
 





/* HERO */


.card { 
        width: 400px;
        max-height: 300px;
        float: left
        
    
   
    
}


.product-card2 { 
    width: 400px;
    max-height: 300px;
    
}



/* CHECKOUT */
