* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Boska', serif;
}




.navbar-nav {
    display: flex;
    align-items: center; 
}

 
/* HERO */

.custom-padding {
    padding-left: 120px; }

 .custom-margin {
        margin-left: 20px; 
    }


.text-element-class {
    margin-bottom: 30px;
}





/* LOG IN */




/* CHECKOUT */
