* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Boska', serif;
}




.navbar-nav {
    display: flex;
    align-items: center; 
}

 
/* HERO */


.text-element-class {
    margin-bottom: 30px;
}


.card { 
        
        
}



/* LOG IN */




/* CHECKOUT */
